.yekan{
    font-family: yekan;
}

.yekanBold{
    font-family: yekanBold;
}

.kalame{
    font-family: kalame;
}

.yekanMed{
    font-family: yekanMed;
}


/* .nav-links ul li{
    padding: 10px;
} */